{% extends 'core/base.html' %}
{% load static %}
{% block title %}Password reset{% endblock %}
{% block content %}
<section class="hero-area">
	<div class="block z-index-10">
		<h1>Enter new password</h1>
	</div>
</section>
<br><br><br><br>
<section id="contact-us" class="contact-us section-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 new_password">
                <h3 class="display-4 fs-2">Enter a new password</h3>
                {% if form.errors %}
                <strong class="red_color">Wrong password</strong>
                {% endif %}
                  <form class="mt-3" method="post">
                      {% csrf_token %}
                      <fieldset class="module aligned">
                          <div class="form-group">
                              <input class="form-control border-300 bg-light" type="password" name="new_password1" required="" id="id_new_password1" placeholder="New password">
                          </div>
                          <div class="form-group">
                              <input class="form-control border-300 bg-light" type="password" name="new_password2" required="" id="id_new_password2" placeholder="Repeat the new password">
                          </div>
                          <button value="Change my password" type="submit" class="btn btn-lg btn-block change_pass_btn">Change my password</button>
                      </fieldset>
                  </form>
				<br><br><br><br>
			</div>
		</div>
	</div>
</section>
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}
{% endblock %}