{% extends 'core/base_ru.html' %}
{% load static %}
{% block title %}Сбросить пароль{% endblock %}
{% block content %}
<section class="hero-area">
	<div class="block z-index-10">
		<h1>Забыли пароль? Введите адрес электронной почты ниже, и мы вышлем инструкции по сбросу пароля</h1>
	</div>
</section>
<br><br><br><br>
<section id="contact-us" class="contact-us section-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 new_password">
				<h3 class="display-4 fs-2">Забыли пароль? Введите адрес электронной почты ниже, и мы вышлем инструкции по сбросу пароля</h3>
				{% if form.errors %}
				<strong class="red_color">Неправильный адрес электронной почты</strong>
				{% endif %}
				  <form class="mt-3" method="post">
					{% csrf_token %}
				<div class="form-group">
					<input class="form-control border-300 bg-light" type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Email" >
				</div>
					  <button value="Reset my password" type="submit" class="btn btn-lg btn-block change_pass_btn">Сбросить пароль</button>
				</form>
				<br><br><br><br>
			</div>
		</div>
	</div>
</section>
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}
{% endblock %}