{% extends 'core/base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<section class="hero-area">
    <div class="block z-index-10">
		<h1>About</h1>
	</div>
</section>
<br>
<section>
    <section class="py-0">
        <div class="container">
            <p>Rompas.com.ua is a website that offers a library of materials and finished collections for your projects and your creativity. We only have quality textures and materials. We are created to give you the opportunity to put your idea into practice.</p>
            <br>
            <h4>The goods that our company provides:</h4>
            <br>
            <p>Assets - is a ready assembly of models and materials for creating games and other projects that can  combine both game models and materials and textures.</p>
            <br>
            <p>3d scans - are scanned objects using photogrammetry, which include the object and texture maps.</p>
            <br>
            <p>PBR materials - is a finished material, which includes such maps as color map, map of normal, height maps, reflections and others. </p>
            <br>
            <p>Phototextures -are tile textures, or satin textures, that are made with the camera.</p>
            <br>
            <h4>Payment:</h4>
            <br>
            <p>On our website at the moment you can pay with LIQPAY.</p>
            <br>
            <h4>Return:</h4>
            <br>
            <p>You have the right to claim compensation, but it is always subject to the condition that you notify Rompas.com of the loss and/or damage in writing within a period not exceeding one month from its discovery.</p>
            <br>
            <p>Reimbursements are made to an individual's card</p>
            <br>
            <p>Are you an indie developer? Then you have come to the right place. Here you will find a lot of assets that will make it much easier for you to implement your project and bring your idea to life!</p>
        </div>
    </section>
</section>
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}
{% endblock %}