{% extends 'core/base_ru.html' %}
{% load static %}
{% block title %}О Нас{% endblock %}
{% block content %}
<section class="hero-area">
    <div class="block z-index-10">
		<h1>О Нас </h1>
	</div>
</section>
<br>
<section>
    <section class="py-0">
        <div class="container">
            <p>Rompas.com.ua - это сайт, который предлагает библиотеку материалов и готовых коллекций для ваших проектов и вашего творчества. У нас только качественные текстуры и материалы. Мы созданы для того, чтобы дать вам возможность воплотить вашу идею в жизнь.</p>
            <br>
            <h4>Товары , что предоставляет наша компания: </h4>
            <br>
            <p>Активы - это готовая сборка моделей и материалов для создания игр и других проектов, которые могут сочетать в себе как игровые модели, так и материалы и текстуры.</p>
            <br>
            <p>3d сканы - это сканированные объекты с помощью фотограмметрии, которые включают в себя объект и текстурные карты.</p>
            <br>
            <p>PBR материалы - это готовый материал, который включает в себя такие карты, как карта цвета, карта нормалей, карт высот, отражения и другие. </p>
            <br>
            <p>Фототекстуры - это тайловые текстуры, или атласные текстуры, которые делаются с помощью фотоаппарата.</p>
            <br>
            <h4>Оплата:</h4>
            <br>
            <p>На нашем сайте на данный момент можно оплатить с помощью LIQPAY</p>
            <br>
            <h4>Возврат:</h4>
            <br>
            <p>Вы имеете право требовать компенсацию, но всегда при условии, что Вы уведомите Rompas.com об утрате и/или повреждении в письменном виде в течение периода, не превышающего одного месяца с момента его обнаружения.</p>
            <br>
            <p>Возмещения производятся на карточку физического лица.</p>
            <br>
            <p>Вы инди разработчик? Тогда вы пришли в нужное место. Здесь вы найдете много активов, которые значительно облегчат вам реализацию вашего проекта и воплотят вашу идею в жизнь!</p>
        </div>
    </section>
</section>
{% block footer %}
{% include 'core/footer_ru.html' %}
{% endblock %}
{% endblock %}