{% extends 'core/base_ru.html' %}
{% load static %}
{% block title %}Помощь{% endblock %}
{% block content %}
<section class="hero-area">
	<div class="block z-index-10">
		<h1>Спасибо. Помощь в пути :)</h1>
	</div>
</section>
<br>
<section id="contact-us" class="contact-us section-bg">
	<div class="container">
		<div class="row">
			<div class="title text-center wow fadeIn" data-wow-duration="500ms">
				<h2>На <span class="color">Связи</span></h2>
				<div class="border"></div>
			</div>
			<div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
				<h3>Наши контакты</h3>
				<div class="contact-details">
					<div class="con-info clearfix">
						<i class="tf-ion-ios-telephone-outline"></i>
						<span>Телефон: +380937817413</span>
					</div>

					<div class="con-info clearfix">
						<i class="tf-ion-ios-email-outline"></i>
						<span>Email: Rompasstudio@gmail.com</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% block footer %}
{% include 'core/footer_ru.html' %}
{% endblock %}
{% endblock %}
