{% extends 'core/base.html' %}
{% load static %}
{% block title %}Rompas{% endblock %}
{% block extra_css %}
<style>
#container {
  width:80%;
  min-height:500px;
  margin:3% auto 0 auto;
}
.pricetab {
  width:20%;
  background: linear-gradient(#555, #444);
  float:left;
  margin-top:.2%;
  box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
}
.pricetabmid {
  width:20%;
  background: linear-gradient( #57cbcc, rgba(94, 254, 255, 0.44));
  float:left;
  box-shadow:0 0  15px rgba(0, 0, 0, 1);
  position:relative;
}
.priceheader {
  width:100%;
  height:60px;
  background-image: -o-linear-gradient(bottom ,#444 , #555);
  background-image: -webkit-linear-gradient(bottom ,#444 , #555);
  background-image: -o-linear-gradient(bottom ,#444 , #555);
  background-image: -moz-linear-gradient(bottom ,#444 , #555);
  background-image: linear-gradient(to bottom , #444 , #555);
  box-shadow:0 2px 12px rgba(0, 0, 0, .5);
}
.price {
  width:120px;
  height:120px;
  border-radius:50%;
  border:1px solid #57cbcc;
  margin:5% auto 0 auto;
  text-align:center;
}
.pricemid {
  width:120px;
  height:120px;
  border-radius:50%;
  border:1px solid #444;
  margin:5% auto 0 auto;
  text-align:center;
}
.infos{
  margin-top:10%;
}
.pricefooter {
  width:100%;
  height:50px;
  margin-top:10%;
  background:#333;
}
.pricefootermid {
  width:100%;
  height:50px;
  margin-top:10%;
  background:#57cbcc;
}
/* Typo */
.title{
  font-family:arial;
  color:#fff;
  font-size:38px;
  font-weight:normal;
  text-align:center;
  text-transform:uppercase;
  text-shadow: 1px 2px 5px rgba(0,0,5,0.2);
  margin:auto;
}
h1{
  font-size:18px;
  color:#fff;
  text-align:center;
  line-height:3;
}
h2{
  text-align:center;
  font-size:42px;
  color:#fff;
	margin-top: 35px;
}
sub{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
h3{
  font-size:14px;
  font-weight:normal;
  text-align:center;
  color:#fff;
  line-height:1;
}
.button a{
  color:#fff;
  font-size:17px;
  font-weight:bold;
  text-decoration:none;
  line-height:3;
}
.buttonmid a{
  color:#fff;
  font-size:17px;
  font-weight:bold;
  text-decoration:none;
  line-height:3;
}
.credit{
  color:#fff;
  font-size:16px;
  font-weight:normal;
  text-align:left;
  text-shadow: 1px 2px 5px rgba(0,0,5,0.2);
  margin-left:5%;
  line-height:1.3;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* Buttons */
.button{
  width:50%;
  height:50px;
  margin:0 auto 0 auto;
  background:#57cbcc;
  text-align:center;
  cursor:pointer;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.button:hover{
  width:60%;
}
.buttonmid{
  width:50%;
  height:50px;
  margin:0 auto 0 auto;
  background:#333;
  text-align:center;
  cursor:pointer;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.buttonmid:hover{
  width:60%;
}
</style>
{% endblock %}
{% block content %}
<section class="portfolio" id="portfolio">
	<div class="portfolio-items-wrapper">
			<div class="mix col-md-12 design padding-0">
				<img class="img-responsive width-100" src="{{ top_image.photo.url }}" alt="">
			</div>
			<div class="container">
				<div class="mix col-xs-6 design padding-top-100">
					<div class="img-hover-zoom img-hover-zoom--basic">
						<a href="/library/{{ left.slug }}">
							<img class="img-responsive width-100" src="{{ left.photo.url }}" alt="">
						</a>
					</div>
				</div>
				<div class="mix col-xs-6 design development padding-top-100">
					<div class="img-hover-zoom img-hover-zoom--basic">
						<a href="/library/{{ right_one.slug }}">
							<img class="img-responsive width-100" src="{{ right_one.photo.url }}" alt="">
						</a>
					</div>
				</div>
				<div class="mix col-xs-6 design development" >
					<div class="img-hover-zoom img-hover-zoom--basic">
						<a href="/library/{{ right_two.slug }}">
							<img class="img-responsive width-100" src="{{ right_two.photo.url }}" alt="">
						</a>
					</div>
				</div>
				<div class="mix col-xs-6 design development">
					<div class="img-hover-zoom img-hover-zoom--basic">
						<a href="/library/{{ right_three.slug }}">
							<img class="img-responsive width-100" src="{{ right_three.photo.url }}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
</section>
<section id="pricing" class="pricing section">
	<div id="container">
		<div class="pricetab">
			<h1> {{ one.name }} </h1>
			<div class="price">
				<h2> Free </h2>
			</div>
			<div class="infos">
				<h3> {{ one.token }} <img src="{{ rompas.symbol.url }}" width="20px" height="20px"> </h3>
			</div>
			<div class="pricefooter">
				<div class="button">
					{% if user.is_authenticated %}
						<a href="/profile">Buy</a>
					{% else %}
						<a href="/login">Buy</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="pricetab">
			<h1> {{ two.name }} </h1>
			<div class="price">
				<h2> {{ two.price }}$ </h2>
			</div>
			<div class="infos">
				<h3> {{ two.token }} <img src="{{ rompas.symbol.url }}" width="20px" height="20px"> </h3>
			</div>
			<div class="pricefooter">
				<div class="button">
					{% if user.is_authenticated %}
						<a href="/profile">Buy</a>
					{% else %}
						<a href="/login">Buy</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="pricetabmid">
			<h1> {{ three.name }} </h1>
			<div class="pricemid">
				<h2> {{ three.price }}$ </h2>
			</div>
			<div class="infos">
				<h3> {{ three.token }} <img src="{{ rompas.symbol.url }}" width="20px" height="20px"> </h3>
			</div>
			<div class="pricefootermid">
				<div class="buttonmid">
					{% if user.is_authenticated %}
						<a href="/profile">Buy</a>
					{% else %}
						<a href="/login">Buy</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="pricetab">
			<h1> {{ four.name }} </h1>
			<div class="price">
				<h2> {{ four.price }}$ </h2>
			</div>
			<div class="infos">
				<h3> {{ four.token }} <img src="{{ rompas.symbol.url }}" width="20px" height="20px"> </h3>
			  </div>
			<div class="pricefooter">
				<div class="button">
				  	{% if user.is_authenticated %}
						<a href="/profile">Buy</a>
					{% else %}
						<a href="/login">Buy</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="pricetab">
			<h1> {{ five.name }} </h1>
			<div class="price">
				<h2> {{ five.price }}$ </h2>
			</div>
			<div class="infos">
				<h3> {{ five.token }} <img src="{{ rompas.symbol.url }}" width="20px" height="20px"> </h3>
			</div>
			<div class="pricefooter">
				<div class="button">
					{% if user.is_authenticated %}
						<a href="/profile">Buy</a>
					{% else %}
						<a href="/login">Buy</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}
{% endblock %}