{% extends 'core/base.html' %}
{% load static %}
{% block title %}Terms of use{% endblock %}
{% block content %}
<section class="hero-area">
	<div class="block z-index-10">
		<h1>Terms of use</h1>
	</div>
</section>
<br>
<section>
    <section class="py-0">
        <div class="container">
            <p>By using Rompas.com.ua , you agree to all the rules set out on this page.</p>
            <p>Rompas.com.ua is a website that offers a library of different types of content for game and multimedia development, such as Assets (Packages of materials and objects), 3D scans, PBR materials and digital photos.</p>
            <p>The following Terms apply to all offers and agreements and your use of the Service, unless otherwise expressly agreed in writing. Any terms you use are not applicable.</p>
            <br>
            <h3>1. Registration and use of your account</h3>
            <br>
            <p>To upload photos, you need to register in the system. You are responsible for your account and all activities on it.</p>
            <p>1.1 To access and use the services or parts of them, you must register an account. The accounts are for personal use only and may not be passed on to third parties unless otherwise stated. </p>
            <p>1.2 You must provide access to your account against third parties. In particular, the password must be kept strictly confidential. Rompas.com.ua may consider that all actions taken from your account are authorized and controlled by you. This means that you are responsible for these actions unless and until you notify Rompas.com that someone else knows your password.</p>
            <p>1.3 Once you have learned or have reason to believe that an unauthorized third party has access to your account, you must immediately notify Rompas.com.ua</p>
            <br>
            <h3>2. Free and Rompas credits</h3>
            <br>
            <p>You get access to free assets after registration. </p>
            <p>You need Rompas loan to get paid materials.</p>
            <p>Rompas is our internal currency of the site.</p>
            <p>We sell Rompas currency to users who need to upload paid photos or other materials. </p>
            <br>
            <h3>3. Credits and subscriptions</h3>
            <br>
            <p>We sell Subscriptions that top up your Rompas credits every month. We also sell additional Rompas credits in the form of loan packages, which are one-off purchases. Rompas credit packages are only available to users who subscribe.</p>
            <p>3.1 If you have a subscription, your account will be regularly replenished with a certain amount of Rompas credits. Unused Rompas credits are transferred to the next month.</p>
            <p>3.2 If you want to access the full library of materials, you can buy Rompas credits. These credits are sold by subscription and additionally as a loan package. Rompas credits purchased in the loan package and by subscription are valid as long as you have an active subscription, unless otherwise specified. If the subscription is cancelled, the credits are valid for 3 months.</p>
            <br>
            <h3>4. Compensation and payment</h3>
            <br>
            <p>The site uses a dual payment system. </p>
            <p>Assets category goods can be bought only for US dollars</p>
            <p>All other products in the library (Textures\3d scan\PBR) can only be bought with Rompas loans, which you can buy by subscription and as an additional Rompas loan package.</p>
            <p>4.1 Prices for Assets Materials or Rompas loans are in US dollars. At the time of purchase, this amount may be converted to local currency and local taxes may apply. </p>
            <p>4.2 All prices are in US dollars and can be converted to your local currency at the time of payment. You are responsible for any costs associated with exchange rates or foreign operations.</p>
            <br>
            <h3>5. Reloads</h3>
            <br>
            <p>Reboot of already purchased content during the subscription is free of charge.</p>
            <p>All purchased materials in the library will be available for download.</p>
            <p>Or you can download it again on the Purchase History page.</p>
            <br>
            <h3>6. Intellectual property rights and licences</h3>
            <br>
            <p>All assets and materials are created exclusively by Rompas.com.ua</p>
            <p>6.1 The Content you upload is licensed to you only. You are not the owner of the Content.</p>
            <p>6.2 You may not transfer or license uploaded Content to other persons or companies.</p>
            <p>You have the right to transfer uploaded Content when necessary for the production of your project.</p>
            <p>6.3 All intellectual property rights in all Content belong exclusively to Rompas.com or its licensors. You may not resell or sublicense the Content of Rompas.com to third parties. In exchange for the amounts due, you will be granted a non-exclusive and non-transferable right to use the Content in accordance with the competence expressly granted under these terms and conditions or otherwise.</p>
            <br>
            <h3>7. Use of content</h3>
            <br>
            <p>You can use our photos for many projects and sell them in combination with 3D models. </p>
            <p>7.1 You may not resell or distribute our materials, texture packages, 3d objects or any other product competing with our site.</p>
            <p>7.2 You may not use our materials to create products or services that compete with our site. This means that you may not sell or distribute our photos or other materials.</p>
            <p>7.3 All downloaded content may be used for personal and commercial use (subject to these terms and conditions).</p>
            <p>7.4 You may not: sell or distribute any Content (modified or not), sell or distribute textures, satin sheets, 3D scanned objects.</p>
            <br>
            <h3>8.Responsibility</h3>
            <br>
            <p>Rompas.com total liability to you for failure to perform the contract or otherwise is limited to compensation not exceeding the amount paid by you within six months of the occurrence of the damage. </p>
            <p>8.1 In the event of force majeure, interruptions in the availability of the Internet, power failures, company malfunctions, telecommunication infrastructure, supply failures, fires and floods, among other things, Rompas.com is never obliged to compensate you for the damage suffered.</p>
            <p>8.2 You have the right to claim compensation, but it is always subject to the condition that you notify Rompas.com of the loss and/or damage in writing within a period not exceeding one month from its discovery. </p>
            <p>8.3 You shall also indemnify and hold Us harmless from any claims arising out of this Agreement, including any use of Content by You prohibited under the terms and conditions set forth in the Agreement.</p>
            <br>
            <h3>9. Duration and termination</h3>
            <br>
            <p>If you cancel your subscription, you will lose your Rompas credits after three months, but you can download your previously downloaded content free of charge.</p>
            <p>9.1 The subscription starts from the date of the contract and is valid for a month. The subscription will be automatically renewed for further terms equal to the original term. Each party may terminate the subscription in writing or electronically by the end of the initial or extended subscription period. </p>
            <p>9.2 At the end of the subscription, in connection with the termination of the subscription or otherwise, unused credits expire after three months and your account will automatically be converted into a free account. You will not be reimbursed for unused credits. However, you will be able to reload any previously purchased Content.</p>
            <p>9.3 If you want to delete your account, please contact us. Please note that deleting your account is irrevocable.</p>
            <br>
            <h3>10.Changes in conditions and positions</h3>
            <br>
            <p>Rompas.com may change these terms and conditions as well as any prices at any time. The amended terms are effective immediately.</p>
            <p>10.1 If you do not wish to accept changes or additions on our website, you may terminate the contract as soon as the changes take effect. Your use of the Service after the effective date will constitute your acceptance of the changes or additions to the terms.</p>
            <br>
            <br>
            <h3>Contacts:</h3>
            <br>
            <p>Full name Merchant: Romanyuk Volodymyr Mikhailovich</p>
            <br>
        </div>
    </section>
</section>
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}
{% endblock %}