{% extends 'core/base_ru.html' %}
{% load static %}
{% block title %}УСЛОВИЯ ИСПОЛЬЗОВАНИЯ{% endblock %}
{% block content %}
<section class="hero-area">
	<div class="block z-index-10">
		<h1>УСЛОВИЯ ИСПОЛЬЗОВАНИЯ</h1>
	</div>
</section>
<br>
<section>
    <section class="py-0">
        <div class="container">
            <p>Используя Rompas.com.ua, Вы соглашаетесь со всеми правилами, изложенными на этой странице.</p>
            <p>Rompas.com.ua - это сайт, который предлагает библиотеку различных типов контента для разработки игр и мультимедиа, таких как Активы (Пакеты материалов и объектов), 3D сканы, PBR материалы и цифровые фотографии.</p>
            <p>Следующие Условия применяются ко всем предложениям и соглашениям, а также к использованию Вами Услуги, если иное прямо не оговорено в письменном виде. Любые используемые вами условия неприменимы.</p>
            <br>
            <h3>1. Регистрация и использование вашего аккаунта</h3>
            <br>
            <p>Чтобы загрузить фотографии, необходимо зарегистрироваться в системе. Вы несете ответственность за свой аккаунт и все действия на нем.</p>
            <p>1.1 Чтобы получить доступ к услугам или их частям и пользоваться ими, вы должны зарегистрировать учетную запись. Учетные записи предназначены только для личного пользования и не могут быть переданы третьим лицам, если не указано иное. </p>
            <p>1.2 Вы должны предоставить доступ к своей учетной записи против третьих лиц. В частности, пароль должен быть строго конфиденциальным. Rompas.com.ua может считать, что все действия, совершенные с вашего счета, санкционированы и контролируются вами. Это означает, что вы несете ответственность за эти действия, если и пока вы не уведомите Rompas.com о том, что кто-то другой знает ваш пароль.</p>
            <p>1.3 Как только вы узнали или имеете основания полагать, что к вашей учетной записи имеет доступ посторонний человек, вы должны немедленно уведомить об этом Rompas.com.ua.</p>
            <br>
            <h3>2. Бесплатные активы и кредиты Rompas</h3>
            <br>
            <p>Вы получаете доступ к бесплатным активам после регистрации.</p>
            <p>Вам нужен кредит Rompas, чтобы получить оплаченные материалы.</p>
            <p>Rompas - наша внутренняя валюта сайта.</p>
            <p>Мы продаем валюту Rompas пользователям, которым необходимо загрузить платные фотографии или другие материалы. </p>
            <br>
            <h3>3. Кредиты и подписки</h3>
            <br>
            <p>Мы продаем подписки, которые пополняют ваши кредиты Rompas каждый месяц. Мы также продаем дополнительные кредиты Rompas в виде кредитных пакетов, которые являются разовыми покупками. Пакеты кредитов Rompas доступны только для подписчиков.</p>
            <p>3.1 Если у вас есть подписка, ваш счет будет регулярно пополняться определенной суммой кредитов Rompas. Неиспользованные кредиты Rompas переводятся на следующий месяц.</p>
            <p>3.2 Если вы хотите получить доступ к полной библиотеке материалов, вы можете приобрести кредиты Rompas. Эти кредиты продаются по подписке и дополнительно в виде кредитного пакета. Кредиты Rompas, приобретенные в кредитном пакете и по подписке, действительны до тех пор, пока у вас есть активная подписка, если не указано иное. Если подписка аннулирована, кредиты действительны в течение 3 месяцев.</p>
            <br>
            <h3>4. Компенсация и оплата</h3>
            <br>
            <p>Сайт использует двойную платежную систему.</p>
            <p>Товары категории активов можно приобрести только за доллары США.</p>
            <p>Все остальные продукты библиотеки (Textures\3d scan\PBR) можно приобрести только по кредитам Rompas, которые можно приобрести по подписке и в качестве дополнительного кредитного пакета Rompas.</p>
            <p>4.1 Цены на Материалы для Активов или займы Rompas указаны в долларах США. На момент покупки эта сумма может быть конвертирована в местную валюту, и могут применяться местные налоги.</p>
            <p>4.2 Все цены указаны в долларах США и могут быть конвертированы в вашу местную валюту на момент оплаты. Вы несете ответственность за любые расходы, связанные с обменными курсами или зарубежными операциями.</p>
            <br>
            <h3>5. Перезагрузки</h3>
            <br>
            <p>Перезагрузка уже приобретенного контента во время подписки бесплатна.</p>
            <p>Все приобретенные в библиотеке материалы будут доступны для скачивания.</p>
            <p>Или вы можете скачать его снова на странице История покупок.</p>
            <br>
            <h3>6. Права и лицензии на интеллектуальную собственность</h3>
            <br>
            <p>Все активы и материалы создаются исключительно Rompas.com.ua</p>
            <p>6.1 Загружаемое вами Содержимое лицензировано только для вас. Вы не являетесь владельцем Содержания.</p>
            <p>6.2 Вы не имеете права передавать или лицензировать загруженный Контент другим лицам или компаниям.</p>
            <p>Вы имеете право передавать загруженный Контент, когда это необходимо для производства вашего проекта.</p>
            <p>6.3 Все права интеллектуальной собственности на все Содержание принадлежат исключительно Rompas.com или его лицензиарам. Запрещается перепродавать или сублицензировать Содержание Rompas.com третьим лицам. В обмен на причитающиеся суммы, вам будет предоставлено неисключительное и непередаваемое право на использование Содержимого в соответствии с компетенцией, явно предоставленной в соответствии с настоящими условиями или иным образом.</p>
            <br>
            <h3>7. Использование контента</h3>
            <br>
            <p>Вы можете использовать наши фотографии для многих проектов и продавать их в сочетании с 3D моделями. </p>
            <p>7.1 Вы не имеете права перепродавать или распространять наши материалы, текстурные пакеты, 3d объекты или любой другой продукт, конкурирующий с нашим сайтом.</p>
            <p>7.2 Вы не можете использовать наши материалы для создания продуктов или услуг, конкурирующих с нашим сайтом. Это означает, что вы не можете продавать или распространять наши фотографии или другие материалы.</p>
            <p>7.3 Все загруженное содержимое может быть использовано для личного и коммерческого использования (в соответствии с настоящими положениями и условиями).</p>
            <p>7.4 Вы не имеете права: продавать или распространять любое Содержание (модифицированное или нет), продавать или распространять текстуры, атласные листы, 3D сканированные объекты.</p>
            <br>
            <h3>8.Ответственность</h3>
            <br>
            <p>Rompas.com несет полную ответственность перед Вами за невыполнение договора или иным образом ограничивается компенсацией, не превышающей сумму, выплаченную Вами в течение шести месяцев с момента возникновения ущерба. </p>
            <p>8.1 В случае возникновения форс-мажорных обстоятельств, перебоев в работе Интернета, перебоев в подаче электроэнергии, сбоев в работе компании, сбоев в работе телекоммуникационной инфраструктуры, сбоев в электроснабжении, пожаров и наводнений, Rompas.com не несет ответственности за возмещение ущерба, причиненного Вам, среди прочего.</p>
            <p>8.2 Вы имеете право требовать компенсацию, но всегда при условии, что Вы уведомите Rompas.com об утрате и/или повреждении в письменном виде в течение периода, не превышающего одного месяца с момента его обнаружения. </p>
            <p>8.3 Вы также освобождаете и ограждаете нас от любых претензий, вытекающих из настоящего Соглашения, включая любое использование Вами Контента, запрещенное в соответствии с положениями и условиями, изложенными в настоящем Соглашении.</p>
            <br>
            <h3>9. Продолжительность и прекращение действия</h3>
            <br>
            <p>Если вы откажетесь от подписки, кредиты Rompas будут потеряны через три месяца, но вы сможете скачать ранее загруженный контент бесплатно.</p>
            <p>9.1 Подписка начинается с даты заключения договора и действует в течение месяца. Подписка будет автоматически продлена на последующие сроки, равные первоначальному сроку. Каждая сторона может прекратить подписку в письменной или электронной форме по истечении первоначального или продленного периода подписки. </p>
            <p>9.2 По окончании подписки, в связи с прекращением подписки или иным образом, неиспользованные кредиты истекают по истечении трех месяцев и ваша учетная запись автоматически конвертируется в бесплатную учетную запись. Вам не будут возвращены неиспользованные кредиты. Тем не менее, вы сможете перезагрузить любой ранее приобретенный контент.</p>
            <p>9.3 Если вы хотите удалить свой аккаунт, пожалуйста, свяжитесь с нами. Пожалуйста, обратите внимание, что удаление вашей учетной записи является безотзывным.</p>
            <br>
            <h3>10.Изменения условий эксплуатации и положения оборудования</h3>
            <br>
            <p>Rompas.com может изменить эти условия, а также любые цены в любое время. Измененные условия вступают в силу немедленно.</p>
            <p>10.1 Если вы не желаете принимать изменения или дополнения на нашем сайте, вы можете расторгнуть контракт, как только изменения вступят в силу. Использование вами Сервиса после даты вступления в силу будет означать ваше согласие с изменениями или дополнениями к условиям.</p>
            <br>
            <h3>Контакты:</h3>
            <br>
            <p>ФИО Мерчанта: Романюк Володимир Михайлович</p>
        </div>
    </section>
</section>
{% block footer %}
{% include 'core/footer_ru.html' %}
{% endblock %}
{% endblock %}