<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<!-- Mobile Specific Meta
	================================================== -->
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static '/theme/images/favicons/favicons_180x180.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static '/theme/images/favicons/favicons_48x48.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static '/theme/images/favicons/favicons_16x16.png' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static '/theme/images/favicons/favicon.ico' %}">
	<meta name="msapplication-TileImage" content="{%static '/theme/images/favicons/favicons_150x150.png' %}">
	<meta name="theme-color" content="#ffffff">
	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="{% static '/theme/plugins/themefisher-font/style.css' %}">
	<link rel="stylesheet" href="{% static '/theme/plugins/bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '/theme/plugins/animate-css/animate.css' %}">
	<link rel="stylesheet" href="{% static '/theme/plugins/magnific-popup/dist/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static '/theme/plugins/slick-carousel/slick/slick.css' %}">
	<link rel="stylesheet" href="{% static '/theme/plugins/slick-carousel/slick/slick-theme.css' %}">
	<link rel="stylesheet" href="{% static '/theme/css/style.css' %}">
<!--	<link href="{% static '/theme/plugins/semantic-ui-accordion/accordion.min.css' %}" rel="stylesheet">-->
<!--    <link href="{% static '/theme/plugins/semantic-ui-transition/transition.min.css' %}" rel="stylesheet">-->
	<link href="{% static '/theme/plugins/remodal/remodal.css' %}" rel="stylesheet">
    <link href="{% static '/theme/plugins/remodal/remodal-default-theme.css' %}" rel="stylesheet">
	<link href="{% static '/cart/dist/sweetalert.css' %}" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
<header id="navigation" class="navbar navigation">
	<a class="navbar-brand logo" href="/">
		<img src="{% static '/theme/images/logos/logo.png' %}" alt="Website Logo">
	</a>
	<nav class="collapse navbar-collapse" style="float: right" role="Navigation">
		<ul id="nav" class="nav navbar-nav navigation-menu">
			<li><a href="/" class="text-25 hover_nav">Home</a></li>
			<li><a href="/library/assets" class="text-25 hover_nav">Library</a></li>
			{% if user.is_authenticated %}
				<li><a href="/profile" class="text-25 hover_nav">Profile</a></li>
				<li><a href="{% url 'logout' %}?next=/" class="text-25 hover_nav">LogOut</a></li>
			{% else %}
				<li><a href="/login" class="text-25 hover_nav">Sign in</a></li>
			{% endif %}
			{% if user.is_authenticated %}
				<li><a href="/profile" class="text-25 hover_nav">You have {{ user.profile.tokens_left }}
					<img src="{{ rompas.symbol.url }}" style="vertical-align: top" height="20px" width="20px">
				</a>
					{% endif %}
			</li>
			<li>
				{% with total_items=cart|length %}
					<a data-remodal-target="cart" href="#!" class="cart hover_nav"><span class="counter">{{ total_items }}</span></a>
				{% endwith %}
			</li>
		</ul>
	</nav>
</header>
<div class="remodal-70 remodal" data-remodal-id="cart" id="cart">
    <button class="remodal-close" id="" data-remodal-action="close"></button>
	<h1 align="center">Cart</h1>
	<table class="table bottom_0">
		<tr>
			<th class="h3 cart-first-row" scope="row"></th>
			<th class="h3 cart-row" scope="row">Name:</th>
			<th class="h3 cart-row" scope="row">Category:</th>
			<th class="h3 cart-row" scope="row">Price:</th>
			<th class="h3 cart-row" scope="row"></th>
		</tr>
		{% for item in cart %}
		{% with product=item.product %}
			{% if product.currency_id == 1 %}
			<tr>
				<th class="product_image_main">
					<img src="{{ product.main_photo.url }}" alt="IMG-PRODUCT" height=200>
				</th>
				<th class="product_cart">{{ product.name }}</th>
				<th class="product_cart">{{ product.category }}</th>
				<th class="product_cart">{{ product.price }} <img src="{{ product.currency.symbol.url }}" class="currency_cart"></th>
				<th class="product_cart">
					<a class="red_color" href="{% url "cart:CartRemove" product.id %}" data-toggle="tooltip" title="Remove item">Remove</a>
				</th>
			</tr>
			{% endif %}
		{% endwith %}
		{% endfor %}
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>
				<h3 align="right" class="margin-10">Total: {{ cart.get_total_price_dollar }} <img src="{{ dollar.symbol.url }}" class="dollar_cart"></h3>
			</th>
		</tr>
	</table>
	<button type="button" class="btn btn-lg buy" onclick="cart()">Buy</button>
	<button type="button" class="btn btn-lg close_btn" data-remodal-action="cancel">Close</button>
</div>
{% block content %}
{% endblock %}
{% block extra_js %}
{% endblock %}
<script type="text/javascript" src="{% static '/theme/plugins/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static '/theme/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static '/theme/plugins/slick-carousel/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static '/theme/plugins/mixitup/dist/mixitup.min.js' %}"></script>
<script type="text/javascript" src="{% static '/theme/plugins/smooth-scroll/dist/js/smooth-scroll.min.js' %}"></script>
<script type="text/javascript" src="{% static '/theme/plugins/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript"  src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{% static '/theme/plugins/Sticky/jquery.sticky.js' %}"></script>
<script type="text/javascript" src="{% static '/theme/plugins/count-to/jquery.countTo.js' %}"></script>
<script type="text/javascript" src="{% static '/theme/plugins/wow/dist/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static '/theme/js/script.js' %}"></script>
<script src="{% static '/theme/plugins/remodal/remodal.js' %}"></script>
<script src="{% static '/js/rompas.js' %}"></script>

<script>
	$('img').bind('contextmenu', function(e) {
    return false;
});
</script>
</body>
</html>